{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 게시글 -->
    <h2 class="border-bottom py-2">{{ article.title }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ article.content }}</div>
            <div class="d-flex justify-content-end">
                {% if article.modified_at %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div>{{ article.modified_at }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2">
                    {{ article.created_at }}
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{% url 'projectsite:article_vote' article.id  %}"
                   class="recommend btn btn-sm btn-outline-secondary"> 좋아요
                    <span class="badge rounded-pill bg-success">{{article.voter.count}}</span>
                </a>
                <a href="{% url 'projectsite:article_modify' article.id  %}" 
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                   data-uri="{% url 'projectsite:article_delete' article.id  %}">삭제</a>
            </div>
        </div>
    </div>
    <!-- 댓글 -->
    <h5 class="border-bottom my-3 py-2">{{article.comment_set.count}}개의 댓글</h5>
    {% for comment in article.comment_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
            <div class="d-flex justify-content-end">
                {% if comment.modified_at %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div>{{ comment.modified_at }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2">
                    {{ comment.created_at }}
                </div>
            </div>
            <div class="my-3">
                <a href="{% url 'projectsite:comment_modify' comment.id  %}" 
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
                   data-uri="{% url 'projectsite:comment_delete' comment.id  %}">삭제</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 댓글 등록 -->
    <form action="{% url 'projectsite:comment_create' article.id %}" method="post" class="my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="content" class="form-label">댓글 내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="댓글 등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("좋아요를 하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});    
    </script>
{% endblock %}